---
import BackToTop from '@components/ui/BackToTop.astro';
import Layout from '@layouts/Layout.astro';
import Contact from '@components/Contact.astro';
import ArticleLoader from '@components/ArticleLoader.astro';

// Static path
export function getStaticPaths () {
    return [
        { params: { id: '1' }},
        { params: { id: '2' }},
    ]
}

const { id } = Astro.params as { id: string };

---

<Layout>
    <main>
        <ArticleLoader id={id} />
        <Contact />
        <BackToTop />
    </main>
</Layout>