---
import BackToTop from '@components/ui/BackToTop.astro';
import Layout from '@layouts/Layout.astro';
import Contact from '@components/Contact.astro';
---

<Layout>
    <main>
        <Contact />
        <BackToTop />
    </main>
</Layout>