---
---

<section data-testid="about" id="about" class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row">
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-blue"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">As an IT student at Ynov Bordeaux, I'm passionate about web development and creating online services. I'm proficient in Front-End (HTML, CSS, JavaScript, React, TailwindCSS) and Back-End (Go, Python, C# (.NET)) languages, as well as databases (MySQL, MariaDB, MongoDB, InfluxDB). Curious and rigorous, I'm ready to put my skills to work in a dynamic and innovative team.</p>
	</div>
</section>
